{
  "extends": "airbnb",
  "rules": {
  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  "react/jsx-uses-vars": [2],
  "react/prop-types": [
  "enabled",
  { "ignore": "ignore", "customValidators": "customValidator" }
]

},
"env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
}
