

Link.menu {
    color: black;
}



.landpage-image{
      height: 55%;
}

.landpage-image{
    background-image: url(./imgs/smm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#tweetHome, #signupHome{
  text-align:center;
  padding-top: 20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
